*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  /*Colors*/
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  /*Primary */

  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}
body {
  display: flex;

  align-items: center;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 40rem;
  width: 100%;
  margin-top: 2rem;
  font-weight: 500;
  color: var(--Grayish-blue);
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}
.noti-wrap {
  display: flex;
  gap: 1rem;
  align-items: center;
}
img {
  width: 50px;
  height: 50px;
}
h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--Very-dark-blue);
  transition: all 0.3s;
}

.mark-btn {
  transition: all 0.3s;
}
.mark-btn:hover {
  cursor: pointer;
  color: var(--Blue);
}
.notifications-nr {
  font-size: 1.2rem;
  color: var(--White);
  background-color: var(--Blue);
  padding: 2px 10px;
  border-radius: 5px;
}
.notification {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}
.name {
  color: var(--Very-dark-blue);
  font-weight: 800;
  transition: all 0.3s;
}
.name:hover {
  color: var(--Blue);
  cursor: pointer;
}
.event {
  color: var(--Dark-grayish-blue);
  font-weight: 800;
  transition: all 0.3s;
}
.event:hover {
  color: var(--Blue);
  cursor: pointer;
}

.notification-dot.active {
  background-color: red;
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.notification-dot.checked {
  background-color: transparent;
}
.top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.notification:nth-child(5) .time {
  margin-bottom: 1rem;
}
.notification:nth-child(6) {
  justify-content: space-between;
  width: 100%;
}
.notification:nth-child(8) {
  margin-bottom: 2rem;
}
.wrap-top {
  display: flex;
  gap: 1.5rem;
}
.chess-img {
  cursor: pointer;
}
.message {
  background-color: var(--Light-grayish-blue-1);
  color: var(--Dark-grayish-blue);
  padding: 1rem;
}
